<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>BandaServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.BandaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicoServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.MusicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormacaoServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.FormacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaixaServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.FaixaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.AlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoEmprestimoServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.TipoEmprestimoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmprestimoServlet</servlet-name>
        <servlet-class>locadoraAlbuns.controladores.EmprestimoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/GeneroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BandaServlet</servlet-name>
        <url-pattern>/processaBanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/processaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicoServlet</servlet-name>
        <url-pattern>/MusicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormacaoServlet</servlet-name>
        <url-pattern>/FormacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaixaServlet</servlet-name>
        <url-pattern>/FaixaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumServlet</servlet-name>
        <url-pattern>/AlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoEmprestimoServlet</servlet-name>
        <url-pattern>/TipoEmprestimoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmprestimoServlet</servlet-name>
        <url-pattern>/EmprestimoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
